/CyE_CSS/nbproject/private/
/CyE_CSS/build/
/MVCvotos2/nbproject/private/
/MVCvotos2/build/
/Cliente/nbproject/private/
/Broker/nbproject/private/
/MultiServerSocket/nbproject/private/
/MultiServerSocket/build/
/Cliente/build/
/Broker/build/
/ServidorBarras/nbproject/private/